body{
    display: flex;
    justify-content: center;
    margin-top: 0 auto;
}
ul{
    display: flex;
    justify-content: center;

}
li{
    /* text-decoration: none; */
    list-style: none;
    /* border: solid 3px #000000; */

}

/* .column{
    text-decoration: none;
    list-style: none;
    border: solid 3px #000000;

} */

.tupla{
    text-decoration: none;
    list-style: none;
    border: solid 1px #000000;
}


/* efeito da bola cair */
.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
